.container {
    background: #000 url('./portrait.jpeg');
    object-fit: cover;
    background-origin: content-box;
    margin-top: 0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    background-size: cover !important; 
    padding: 40px 0;
    color: white;
}
  
.text-overlay {
    font-size: calc(0.0004px + 10vmin); 
    font-weight: 150;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}
  
.under-text-overlay {
    display: flex;
    text-align: center;
    flex-direction: column;
    top: 40%;
    left: 50%;
    margin-bottom: 25%;
    font-weight: 150;
    font-size: calc(0.0005px + 3.5vmin);
}
  
.home-header-bio {
    display: flex;
    flex-direction: row;
    padding: 10%;
    background: rgb(232, 240, 247);
}
  
.about-header {
    display: flex;
    justify-content: right;
    flex-direction: row;
    font-size: calc(0.0002px + 8vmin);
    font-weight: 200;
    margin: auto;
    margin-left: 15%;
    margin-right: 20%;
}
  
.home-bio {
    display: flex;
    justify-content: right;
    flex-direction: column;
    font-size: calc(0.0002px + 3vmin);
    margin: auto;
    margin-right: 15%;
    font-weight: 200;
    line-height: 150%;
    min-width: 200px;
}
  
.experience-section {
    display: flex;
    flex-direction: row;
    background: white;
    padding: 5%;
}
  
.grad-pic {
    width: 30%;
    height: 30%;
    display: flex;
    margin-right: 20%;
}
  
.home-exp-info {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    font-weight: 200;
    margin: auto;
    margin-left: 20%;
    margin-right: 10%;
}
  
.exp-button {
    list-style-type: none;
    text-decoration: none;
    margin-top: 30px;
}
  
.photo-section {
    background: #000 url('./../Photography/photos/rhode-island.jpeg');
    background-origin: content-box;
    margin-top: 0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    background-size: cover !important;
    padding: 20px 0;
    color: white;
}
  
.photo-section-header {
    font-weight: 150;
    font-size: calc(0.0002px + 5vmin);
    margin: auto;
    text-align: center;
    margin-bottom: 20%;
    margin-top: 10%;
    color: black;
}
  
.photo-button {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    text-decoration: none;
    margin: auto;
    margin-top: 5%;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    .container {
        background: black url('./portrait.jpeg');
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        color: white;
    }
    .home-header-bio, .home-bio {
      margin: auto;
      flex-direction: column;
      text-align: center;
    }
    .about-header {
      margin: auto;
      margin-bottom: 3%;
      font-size: calc(0.0002px + 7vmin);
    }
     .home-exp-info {
      flex-direction: column;
      margin: auto;
      text-align: center;
    }
    .ttb-me {
      margin: auto;
      margin-top: 10%;
      display: flex;
      width: 150px;
      height: 150px;
    }
    .photo-section {
      background: #000 url('./../Photography/photos/rhode-island.jpeg');
      background-repeat: no-repeat;
      width: 100%;
      height: 20%;
      display: flex;
      flex-direction: column;
      padding: 20px 0;
      color: white;
    }
    .photo-section-header {
      margin-top: 3%;
      margin-left: 10%;
      margin-right: 10%;
    }
}