/* .App-logo {
  animation: App-logo-spin infinite 30s linear;
  height: 40vmin;
  pointer-events: none;
} */

.box {
  width: 300;
  height: 450;
}

.App-header {
  background-color: white;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(0.0005px + 3vmin); 
  color: #111111;
  font-weight: 350;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-top: 50px;
}

.navbar-nav  > a:not(.activeLink):hover{
  color:black;
}

.nav-link-home {
  color: grey;
  list-style-type: none;
  text-decoration: none;
}

.nav-link-contact {
  color: grey;
  list-style-type: none;
  text-decoration: none;
  margin-left: 100px;
}

.nav-link-experience {
  color: grey;
  list-style-type: none;
  text-decoration: none;
  margin-left: 100px;
}

.nav-link-photography {
  color: grey;
  list-style-type: none;
  text-decoration: none;
  margin-left: 100px;
}

.selectedLink, 
.nav-link-home:hover, 
.nav-link-contact:hover, 
.nav-link-experience:hover, 
.nav-link-photography:hover {
  color: black;
}


.home-page {
  display: flex;
  flex-direction: row;
  margin-top: 10%;
}

.home-portrait {
  width: 30%;
  height: 30%;
  margin-left: 100px;
  display: flex;
}

.home-header-bio {
  display: flex;
  justify-content: right;
  margin-top: 10%;
  margin-left: 10%;
  flex-direction: column;
}

.home-header {
  font-weight: 350;
  font-size: 22px;
}

.home-bio {
  display: flex;
  justify-content: right;
  flex-direction: column;
  font-size: 15px;
}

.footer {
  display: flex;;
  justify-content: center;
  flex-direction: column;
  padding-top: 40%;
}

.footer-text {
  display: flex;
  justify-content: center;
  bottom: 0;
  font-weight: 200;
}

.linkedin-logo {
  justify-content: center;
  display: flex;
  bottom: 0;
  width: 3%;
  height: 3%;
  padding-left: 48.5%;
  padding-bottom: 5%;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
