.App-header {
  font-size: calc(0.0005px + 4vmin); 
  font-weight: 150;
  margin-left: 1%;
}

.header {
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  width: 50%;
  margin: auto;
  margin-top: 0.5%;
  margin-bottom: 1%;
  font-size: calc(0.0005px + 2.5vmin);
  font-weight: 250;
}

.navbar-nav  > a:not(.activeLink):hover{
  color:black;
}

.nav-link-home, .nav-link-experience, .nav-link-photography, .nav-link-projects {
  color: grey;
  list-style-type: none;
  text-decoration: none;
  width: 25%;
}

.selectedLink, 
.nav-link-home:hover, 
.nav-link-experience:hover, 
.nav-link-photography:hover,
.nav-link-projects:hover {
  color: black;
}

@media screen and (max-width: 600px) {
  .App-header {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: calc(0.0002px + 5.5vmin);
  }
}