/* .App-logo {
  animation: App-logo-spin infinite 30s linear;
  height: 40vmin;
  pointer-events: none;
} */

.box {
  width: 300;
  height: 450;
}

.App-header {
  background-color: white;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(0.0005px + 3vmin); 
  color: #111111;
  font-weight: 350;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-top: 50px;
}

.navbar-nav  > a:not(.activeLink):hover{
  color:black;
}

.nav-link-home {
  margin-right: 25px;
  color: grey;
  list-style-type: none;
  text-decoration: none;
}

.nav-link-contact {
  color: grey;
  list-style-type: none;
  text-decoration: none;
  margin-left: 100px;
}

.nav-link-experience {
  color: grey;
  list-style-type: none;
  text-decoration: none;
  margin-left: 70px;
}

.nav-link-photography {
  color: grey;
  list-style-type: none;
  text-decoration: none;
  margin-left: 90px;
}

.selectedLink, 
.nav-link-home:hover, 
.nav-link-contact:hover, 
.nav-link-experience:hover, 
.nav-link-photography:hover {
  color: black;
}


.home-page {
  display: flex;
  flex-direction: row;
  margin-top: 10%;
}

.home-portrait {
  width: 30%;
  height: 30%;
  margin-left: 100px;
  display: flex;
}

.home-header-bio {
  display: flex;
  justify-content: right;
  margin-top: 10%;
  margin-left: 10%;
  flex-direction: column;
}

.home-header {
  font-weight: 350;
  font-size: 22px;
}

.home-bio {
  display: flex;
  justify-content: right;
  flex-direction: column;
  font-size: 15px;
}

.ttb {
  display: flex;
  flex-direction: row;
  margin-top: 10%;
}

.ttb-info {
  display: flex;
  margin-left: 125px;
  margin-right: 100px;;
  flex-direction: column;
}

.tech-together-logo {
  display: flex;
  height: 109.42px;
  margin-left: 100px;
}

.desktop-metal {
  display: flex;
  flex-direction: row;
}

.desktop-metal-logo {
  display: flex;
  width: 320px;
  height: 320px;
  margin-left: 45px;
  margin-right: 10%;
}

.dm-info {
  display: flex;
  margin-left: 120px;
  margin-right: 100px;
  flex-direction: column;
  margin-top: 130px;
}

.digital-lumens {
  display: flex;
  flex-direction: row;
  margin-top: 110px;
}

.digital-lumens-logo {
  margin-left: 100px;
  display: flex;
  height: 110px;
}

.dl-info {
  display: flex;
  margin-left: 160px;
  margin-right: 100px;
  flex-direction: column;
}

.ert {
  display: flex;
  flex-direction: row;
}

.ert-info {
  display: flex;
  margin-left: 120px;
  margin-right: 100px;
  flex-direction: column;
  margin-top: 140px;
}

.ert-logo {
  display: flex;
  margin-left: 80px;
  width: 289px;
  height: 204px;
  margin-right: 10%;
  margin-top: 100px;
}

.more-stuff {
  display: flex;
  margin-left: 120px;
  margin-top: 100px;
  font-weight: 450;
}

.resume-section {
  display: flex;
  margin-left: 120px;
}

.website-code-section {
  display: flex;
  margin-left: 120px;
}

.footer {
  display: flex;
  padding-top: 20%;
}

.column {
  flex: 15%;
  padding: 1px;
}

.footer-text {
  display: flex;
  justify-content: center;
  bottom: 0;
  font-weight: 200;
}

 .linkedin-logo {
  margin-left: 90%;
  width: 8%;
  height: 30%;
}

.github-logo {
  width: 25%;
  height: 30%;
} 

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
